body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Background gradient */
.container {
  background-image: linear-gradient(135deg, #6C63FF, #FF6584);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #FFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #6C63FF;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #5A50E3;
}

button[type="submit"]:active {
  background-color: #483FC1;
}

/* Existing CSS code */

/* Additional CSS for NameBasicsDisplay component */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #6C63FF;
  color: #FFF;
}

th,
td {
  padding: 12px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  width: 200px; /* You can adjust this width to your preference */
  padding: 12px 0; /* Padding: top and bottom */
  margin: 10px 0; /* Margin: top and bottom to create space between buttons */
  background-color: #6C63FF;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #5A50E3;
}

button:active {
  background-color: #483FC1;
}


button:hover {
  background-color: #5A50E3;
}

button:active {
  background-color: #483FC1;
}


button:hover {
  background-color: #5A50E3;
}

button:active {
  background-color: #483FC1;
}



